@charset "utf-8";

@font-face {
  /*フォントの名前*/
  font-family: "mamelon";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("/assets/font/mamelon_3.woff2") format("woff2"),
       url("/assets/font/mamelon_3.woff") format("woff");
}

@font-face {
  /*フォントの名前*/
  font-family: "hannari";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("/assets/font/hannari.woff2") format("woff2"),
       url("/assets/font/hannari.woff") format("woff");
}

*{
  margin: 0px;
  padding: 0px;
  font-family: "hannari", serif;
}

body{
  background-image: url("img/pink-chair-in-a-white-room.jpg");  
  background-position: center;
  background-size: 90%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-color: #000033;
  font-family: "hannari", serif;
}

header{
  height: 20px;
  background-image: url("img/wall6.jpg");  
  font-family: "hannari";
  color:#000033;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(150,0,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: #ffffff;
  font-family: "hannari";
}


nav{
  height: 30px;
  background-image: url("img/1891472_s.jpg");
  font-family: "hannari";
  color:#000033;
}

/* nav-itemの文字色 */
.navbar .navbar-nav .nav-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color:#000033;
  font-weight: 1000;
  font-size: 22px;
  font-family: "hannari", serif;
  text-shadow: 1px 2px 0 gray;
  padding: 0px 30px;
  align-content: center;
}
/* nav-item activeの文字色 */
.navbar .navbar-nav .active > .nav-link {
  color: rgba(0,0,255,1);
}
/* nav-item:focus、nav-item:hoverの文字色 */
.navbar .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(100,0,255,1);

}
.container{
align-content: center;
font-family: "hannari";
color:#000033;
}

li{
  list-style-type: none;
  font-family: "hannari", serif;
  color:#000033;
  }

h2{
  padding-bottom: 0px;
  margin : 0px;
  font-weight: 800;
  font-family: "hannari", serif;  
  color:#000033;
}

footer{
  background-image: url("img/wall6.jpg"); 
  padding-bottom: 5px;
  padding-right: 40px;
  font-size: 15px;
  font-family: "hannari", serif;
  text-align: right;
  color: #FFFFFF;
  position: fixed;
  top:auto;
  bottom: 0;
  width: 100%;  
  height: 25px;
}

