@charset "utf-8";

@font-face {
  /*フォントの名前*/
  font-family: "mamelon";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("/assets/font/mamelon_3.woff2") format("woff2"),
       url("/assets/font/mamelon_3.woff") format("woff");
}

@font-face {
  /*フォントの名前*/
  font-family: "hannari";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("/assets/font/hannari.woff2") format("woff2"),
       url("/assets/font/hannari.woff") format("woff");
}

*{
  margin: 0px;
  padding: 0px;
  font-family: "hannari", serif;
}

body{
  font-family: "hannari", serif;
  background-color: #000033;
  height: 100%;
  width: 100%;
    
}

header{
  height: 57px;
  background-image: url("img/wall6.jpg");  
  font-family: "hannari", serif;
}

#header-title{
  padding-top: 10px;
  padding-left: 20px;
  color: #FFFFFF;
  /*font-weight: bold;*/
  font-size: 40px;
  /*font-family: "Some Weatz Swashes",  "Some Weatz Symbols", "しょかきさらり行体",  serif; */
  text-shadow: 1px 3px 0 gray;
  font-family: "hannari", serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  background-image: url("img/1891472_s.jpg");
  font-family: "hannari", serif;
}

nav a {
  display: block;
  width:250px;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  color:#000033;
  font-weight: 1000;
  font-size: 25px;
  font-family: "hannari", serif;
  /*font-family: "しょかきさらり行体", "Some Weatz Symbols", "Some Weatz Swashes", serif;
-webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:#FFFFFF;
  -webkit-text-fill-color: #000033;*/
  text-shadow: 1px 2px 0 gray;
}

nav a:hover{
  color: rgba(255, 0, 0, 0.705);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 0px;

} 

.item {
  display: inline-block;
  margin:20px 100px 30px;
  font-family: "hannari", serif;
}

figure{
  text-align:center;
  text-decoration: none;
  font-family: "hannari", serif;
}

figcaption{
  color: #FFFFFF; 
  font: bold 20px; /*"しょかきさらり行体", serif;*/
  text-decoration: none;
  font-family: "hannari", serif;
}

#main{
  padding: 20px 20px 50px 20px;
  height: auto; 
  color: #FFFFFF;
  font-family: "hannari", serif;
  /*font-family: "しょかきさらり行体", "Some Weatz Symbols", "Some Weatz Swashes", serif; */
}

h1{
  margin-top: 10px;
  font-weight: 1000;
  font-family: "hannari", serif;
  /*text-decoration: underline #FFFFFF;*/
}

.f-container{
    display: flex;
    padding-top: 20px;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    font-family: "hannari", serif;
}

footer{
  background-image: url("img/wall6.jpg"); 
  padding: 5px;
  padding-right: 40px;
  font-size: 15px;
  font-family: "hannari", serif;
  /*font-family: "しょかきさらり行体", serif;*/
  text-align: right;
  color: #FFFFFF;
  position: fixed;
  top:auto;
  bottom: 0;
  width: 100%;  
  height: 30px;
}


#page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-family: "hannari", serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  background: #fff;
  color: #737373;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
  box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
}

